@import '../../sass/variables';
.objectifs {
  margin-top: 15px;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.red {
  color: $secondary-color;
}
.title__container {
}
